# ==================================================
# GeoAI Flood Risk Agent
# Git Ignore Rules
# ==================================================

# -------------------------------
# Virtual Environment
# -------------------------------
.venv/

# -------------------------------
# Python
# -------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------------
# VS Code
# -------------------------------
.vscode/

# -------------------------------
# Environment Variables
# -------------------------------
.env

# -------------------------------
# Project Data
# Never tracked on GitHub
# -------------------------------
data/raw/
data/processed/
data/analysis/
data/outputs/

# -------------------------------
# Temporary Files
# -------------------------------
*.log
*.tmp
*.bak

# -------------------------------
# Operating System Files
# -------------------------------
.DS_Store
Thumbs.db